<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Home - LiQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>

<body>

    <!-- CENTRALE CONTAINER -->
    <div class="home-container">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Liq logo" class="logo">

        <h1>Welkom op de homepagina! </h1>
        <p class="subtitle">Kies een optie om verder te gaan.</p>

        <div class="button-group">
            <a href="{{ url_for('main.clients') }}"><button>Clients</button></a>
            <a href="{{ url_for('main.webusers') }}"><button>Webusers</button></a>
            <a href="{{ url_for('main.suppliers') }}"><button>Suppliers</button></a>
            <a href="{{ url_for('main.products') }}"><button>Products</button></a>
            <a href="{{ url_for('main.orders') }}"><button>Orders</button></a>
            <a href="{{ url_for('main.costs') }}"><button>Costs</button></a>

            <!-- Nieuwe knop -->
            <a href="{{ url_for('main.margin_page') }}"><button>Margin & Filters</button></a>
        </div>
    </div>

</body>
</html>
