<!DOCTYPE html>
<html>
  <head>
    <title>Aanmelden</title>
  </head>
  <body>
    <h1>Nieuwe gebruiker registreren</h1>

    {% if message %}
      <p style="color:red;">{{ message }}</p>
    {% endif %}

    <form action="/register" method="post">
      <label>Gebruikersnaam:</label>
      <input type="text" name="username" required><br><br>

      <label>Email:</label>
      <input type="email" name="email" required><br><br>

      <label>Bedrijf:</label>
      <select name="supplier_id" required>
        {% for supplier in suppliers %}
          <option value="{{ supplier.SUPPLIER_ID }}">{{ supplier.name }}</option>
        {% endfor %}
      </select><br><br>

      <button type="submit">Aanmelden</button>
    </form>

    <p>Heb je al een account? <a href="/login">Log hier in</a></p>
  </body>
</html>
